code.text {
  white-space: pre-wrap;
}
code.yaml {
  white-space: pre-wrap;
  word-break: keep-all;
}

/** Only display OpenAPI schema */
.swagger-ui section {
  display: none !important;
}
.swagger-ui section:has(> section.models),
.swagger-ui section.models
{
  display: block !important;
}
